* {
    font-family: monospace, monospace;
    /*color: #333333;*/
}

h1 {
    text-align:center;
    font-size: 30pt;
    margin-top: 30px;
    margin-bottom: 40px;
}

body {
    background-color: #b3e0ff;
}

#messages {
    border: 2px solid #999999;
    background-color: white;
    overflow: scroll;
    padding-left: 1%;
    width: 85%;
    height: 500px;
    text-align: left;
    float: left;
}

#user_list_box {
    border: 2px solid #999999;
    background-color: white;
    overflow: scroll;
    width: 10%;
    height: 500px;
    float: right;
}

form {
    float: left;
    font-size: 16pt;
    width: 90%;
}

ul {
    margin: 15px;
    padding: 0;
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

.displays {
    margin: auto;
    width: 90%;
    height: 500px;
}

#message {
    padding-left: 1%;
    border: 2px solid #999999;
    border-radius: 2px;
    outline: none;
    transition-duration: .4s;
    height: 47px;
    width: 85%;
}

#send-message {
    font-size: 18px;
    padding: 12px 12px;
    border: 2px solid #999999;
    border-radius: 6px;
    width: 8.5%;
    transition-duration: .4s;
    text-align:center;
    cursor: pointer;
}

#interactives {
    margin-top: 20px;
}

#leave-room {
    font-size: 12pt;
    padding: 12px 12px;
    border: 2px solid #999999;
    border-radius: 6px;
    transition-duration: .4s;
    width: 10%;
    height: 47px;
    text-align: center;
    position: relative;
    float: right;
    cursor: pointer;
}

#message:focus {
    border: 2px solid #333333;
}

#send-message:hover, #leave-room:hover {
    border: 2px solid #333333;
}