* {
    font-family: monospace, monospace;
}

body {
    background-color: #b3e0ff;
    color: #333333;
}

h1 {
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 50pt; 
    color: #333333;
}

form {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 16pt;
    color: #333333;
}

button {
    font-size: 10pt;
    margin-left: 18px;
    padding: 12px 12px;
    border: 2px solid #999999;
    border-radius: 6px;
    width: 100px;
    transition-duration: .4s;
    cursor: pointer;
}

#warnings {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 12pt;
    color:red;
}

#username {
    padding: 12px 12px;
    margin-bottom: 30px;
    border: 2px solid #999999;
    border-radius: 2px;
    outline: none;
    width: 20%;
    transition-duration: .4s;
}

#room {
    padding: 12px 12px;
    border: 2px solid #999999;
    border-radius: 2px;
    outline: none;
    width: 11.5%;
    transition-duration: .4s;
    margin-bottom: 30px;
}

#create-room {
    width: 8%;
}

#additional-room {
    width: 20%;
    padding: 12px 12px;
    border: 2px solid #999999;
    border-radius: 2px;
    outline: none;
    transition-duration: .4s;
    margin-left: 63px;
}

#join {
    position: absolute;
    top: 250px;
}

#username:focus, #room:focus, #additional-room:focus {
    border: 2px solid #333333;
}

#join:hover, #create-room:hover {
    border: 2px solid #333333;
}
