<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💬</text></svg>">
    <title>smalltalk - Home</title>
</head>

<body>
    <h1>smalltalk</h1>
    <form action='/' method='post' onsubmit=attemptJoin(event)>
        <div id='warnings'></div>
        <br>
        <label for='username'>Your Username:</label>
        <input type='text' id='username' name='username' required>
        <br>
        <label for='room'>Select a Room:</label>
        <select id='room' name='room' onclick=clearNewRoomDiv() required>
            <option value='custom' disabled hidden>Custom</option>
        </select>
        <button type='button' id='create-room' onclick=newRoomNameInput()>Create</button>
        <div id='new-room'></div>
        <button type='submit' id='join'>Join</button>
    </form>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js'></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        function attemptJoin(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const roomType = document.getElementById('room').value;

            // Determine whether selected room is new 
            if (roomType == 'custom') {
                const room = document.getElementById('additional-room').value;
                socket.emit('attempt_join', { username: username, room: room, new_room: true })
            } else {
                socket.emit('attempt_join', { username: username, room: roomType, new_room: false })
            }
        };

        function clearNewRoomDiv() {
            const newRoomDiv = document.getElementById('new-room');

            while (newRoomDiv.firstChild) {
                newRoomDiv.removeChild(newRoomDiv.firstChild);
            }
        };

        function newRoomNameInput() {
            // Create text box to input new room name
            // Change value of dropdown menu to display 'Custom'
            var roomSelectDropdown = document.getElementById('room');
            roomSelectDropdown.value = 'custom';

            const newRoomNameBox = document.getElementById('new-room');

            if (newRoomNameBox.innerHTML == '') {
                // Create label for new room name input box
                const newRoomLabel = document.createElement('label');
                newRoomLabel.for = 'additional-room';
                newRoomLabel.textContent = 'Room Name:';

                // Create new room input name box
                const newRoomInput = document.createElement('input');
                newRoomInput.type = 'text';
                newRoomInput.id = 'additional-room';


                newRoomNameBox.appendChild(newRoomLabel);
                newRoomNameBox.appendChild(newRoomInput);
            } else {
                const warningsDiv = document.getElementById('warnings');
                warningsDiv.innerHTML = '<p>Please enter a name for your custom room.</p>';
            };
        };

        socket.on('send_active_rooms', function (data) {
            // Populate select room dropdown with list of currently active rooms
            const selectRoom = document.getElementById('room');
            for (const room of data) {
                const roomOption = document.createElement('option');
                roomOption.value = room;
                roomOption.text = room;
                selectRoom.add(roomOption);
            }
        });

        // REFACTOR: Define a warnings function which takes a string as an argument and appends it to the warnings div.
        socket.on('duplicate_username', function (data) {
            var warningsDiv = document.getElementById('warnings');
            warningsDiv.innerHTML = '<p>This username already exists in this room.</p>';
        });

        socket.on('duplicate_room_name', function (data) {
            var warningsDiv = document.getElementById('warnings');
            warningsDiv.innerHTML = '<p>A room with this name already exists.</p>';
        });

        socket.on('succesful_join', function (data) {
            // Store username in cookie to persist between socket connections
            document.cookie = `username=${data.username}`;

            // Redirect client to chat page
            window.location.href = '/chat/' + data.room;
        });
    </script>

</body>

</html>